<!DOCTYPE html>
<html lang="en">
<head>
	<title>401</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="/shared.css">
	<link rel="stylesheet" type="text/css" href="/401.css">
	<link rel="stylesheet" type="text/css" href="/logout.css">
</head>
<body>
	<%- include('includes/header')%>
	<main>
		<section class="first-sec">
		<h1>not authenticated user!</h1>
		<p>Unfortunately you are not authenticated to access the page</p>
	</section>
	</main>
</body>
</html>